*{
    font-family: 'Ubuntu', sans-serif;
}
h1{
    color: #000000;
    text-align: center;
    margin-bottom: 50px;
}

h3{
    text-align: center;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}

body{
    background-color: #9b99a1;
}

.e_proyect{
    left: 50%;
    position: relative;
}
.articulo{
    text-align: center;
}

.proyecto{
    padding: 10px 10px 10px 10px;
    border: 1px solid #000000;    
    background-color: #d1cfcb;
    margin-bottom: 30px;
}
